#head {
  background-color: #6bb6ff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.23);
}

body {
  margin: 0;
  font-family: 'Courier New', '华文黑体', Courier, monospace;
}

h1 {
  display: inline-block;
  font-size: 400%;
  margin: 0;
  margin-top: 5px;
  top: 15px;
  position: absolute;
}

img {
  width: 50px;
  display: inline-block;
  margin: 30px;
  margin-top: 40px;
  margin-bottom: 25px;
}

.video {
  width: 45%;
  height: 400px;
  margin: 10px;
}

.content {
  margin: 40px 35px;
}